<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Tax Appeal Plus</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Open Graph Meta Tags -->

    <meta property="og:title" content="Tax Appeal Plus" />
    <meta property="og:description" content="Tax Appeal Plus was created by Erik Wind, a real estate tech entrepreneur with over 25 years of experience designing and building software that solves real, operational problems for professionals in the property tax space." />
    <meta property="og:image" content="https://taxappealplus.com/assets/img/taxAppealLogo.png" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Tax Appeal Plus">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Tax Appeal Plus" />
    <meta property="og:description" content="Tax Appeal Plus was created by Erik Wind, a real estate tech entrepreneur with over 25 years of experience designing and building software that solves real, operational problems for professionals in the property tax space." />
    <meta property="og:image" content="https://taxappealplus.com/assets/img/taxAppealLogo.png" />
    <meta property="og:type" content="website" />

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/favicon.png" rel="apple-touch-icon">

    <!-- Fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/assets/css/main.css?v=@DateTime.Now.Ticks" rel="stylesheet">
    <link href="~/assets/css/responsive.css?v=@DateTime.Now.Ticks" rel="stylesheet">


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-17151906856"></script>
    <script>   window.dataLayer = window.dataLayer || [];   function gtag(){dataLayer.push(arguments);}   gtag('js', new Date());    gtag('config', 'AW-17151906856'); </script>
    <!-- End Google Tag Manager -->
</head>

<body class="index-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">
            <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center me-auto">
                <img class="brand__logo" src="~/assets/img/logo.png" />
            </a>

            <a class="aboutLink header-menu @(Context.Request.Path == "/about" ? "active" : "")" href="/about">About</a>
            <a class="blogLink header-menu @(Context.Request.Path.StartsWithSegments("/blog") ? "active" : "")" href="/blog">Blog</a>
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li>
                        <p>Got Questions? <br> <span><i class="bi-telephone-fill"></i> 516-882-6537</span></p>
                    </li>
                    <li>
                        <a class="aboutLinkMobile @(Context.Request.Path == "/about" ? "active" : "")" href="/about">About</a>
                    </li>
                    <li>
                        <a class="aboutLinkMobile @(Context.Request.Path.StartsWithSegments("/blog") ? "active" : "")" href="/blog">Blog</a>
                    </li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
            <a class="btn-getstarted" href="#Demonstration-content">Schedule a Demonstration</a>
        </div>
    </header>
    <!-- Header Section End-->
    @RenderBody() <!-- Main page content will be injected here -->
    <!-- Footer Section -->
    <footer id="footer" class="footer">
        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-6 col-md-6 footer-about">
                    <a href="#" class="d-flex align-items-center">
                        <img class="brand__logo" src="~/assets/img/logo.png">
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 footer-links">
                    <h4>Address</h4>
                    <div class="footer-contact">
                        <p>3540 Toringdon Way Suite 200</p>
                        <p>Charlotte NC 28277</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 footer-links">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><a href="mailto:info@taxappealplus.com">info@taxappealplus.com</a></li>
                        <li><a href="tel:516-882-6537">516-882-6537</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <p><span>Copyright © </span> <span id="year"></span> Done Right Software</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-lg-end">
                            <a href="https://www.donerightsoftware.com/privacy" target="_blank">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>



    <!-- Vendor JS Files -->
    @* <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>

    <!-- Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script>
        // Get the current year and set it in the span with id="year"
        document.getElementById("year").textContent = new Date().getFullYear();
    </script>
</body>

</html>